<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> User  App </title>
</head>
<body style="background-image: linear-gradient(#e5bdf6,#d8dede);">

    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Librarian Page</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="http://127.0.0.1:8000/books/home/">HOME</a>
                
             
            </div>
          </div>
        </div>
      </nav>





    
    <div class="container">
        <div class="row">
            <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>
            <div class="col col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8">

<form action="http://localhost:8000/librarian/add/" method="post">



<br><table class="table table-borderless">
    <tr>
        <td> Username  </td>
        <td> 
            <input name="username" type="text" class="form-control"> 
        </td>
    </tr>
    <tr>
        <td>Password</td>
        <td>
            <input name="password" type="password" class="form-control"> 

        </td>
    </tr>
    <tr>
        <td></td>
        <td> <center> <button class="btn btn-success"> LOGIN </button> </center> </td>
    </tr>

    <tr>
        <td></td>
        <td>
         <center><a href='http://localhost:8000/librarian/add/'>New User? Click Here </a></center>
          </td>
    </tr>
</table>
</form>
</div>
<div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>
</div>
</div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

</body>
</html>