<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Books</title>
    
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3"></div>
            <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                <br><br>
                <center> <marquee behavior="scroll" direction="left" scrollamount="20" ><h1 style="color: white;"> LIBRARY MANAGEMENT SYSTEM </h1></marquee> </center> <br><br><br><br><br>

                <center><a href="http://127.0.0.1:8000/books/add/"><button class="btn btn-light"> BOOKS </button></a> <br><br><br>
                <a href="http://127.0.0.1:8000/librarian/login/"> <button class="btn btn-light"> LIBRARIAN LOGIN </button></a></center> 
                
            </div>
            <div class="col col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3"></div>
           
    </div>
    



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

</body>
</html>






